<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>Nome: <%= @ad.name %></p>
		<p>Descrição: <%= @ad.description %></p>
		<p>Preço: <%= @ad.price %></p>
		<p>Id Vendedor: <%= @ad.seller_id %></p>
		<p>E-mail: <%= @ad.email %></p>
		<p><img src="<%= @ad.img_url %>"></p>
	</body>
</html>